html{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

*{
  text-decoration: none;
}

body{
  /* background-color: #272829; */
  background-color: #040b14;
}

@keyframes entry {
  0%{
    font-size: x-small;
    left: 0%;
    transform: translateX(-100%);
  }
  50%{
    font-size: smaller;
    transform: translateX(100%);
  }

}


.portfolio{
  display: flex;
}
.before-intro{
  color: white;
  font-size: small;
  position: absolute;
  top: 35%;
  left: 20%;
  /* animation: entry 5s linear 0.3s; */
}

.sidebar-container{
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

.socials{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socials a{
  height: 20px;
  padding-bottom: 50px;
}

.socials a img{
  width: 120px;
  margin-left: 10px;
  margin-top: 0px;
  object-fit: contain;
  height: 20px;
  border-radius: 0px;
  border: 0px;
}

.sidebar-container div{
  margin-top: 44px;
}


.sidebar-container .links{
  margin-top: -25px;
}

.sidebar-container .links li{
  padding-bottom: 30px;
  position: relative;
  white-space: nowrap;
  list-style: none;
}

.sidebar-container .links li a span{
  color: #A8A9B4;
  font-size: 15px;
  font-family: sans-serif;
  padding-left: 10px;
}


.sidebar-container .links li a span:active{
  color: #A8A9B4;
}

.sidebar-container img{
  margin: 55px auto;
  display: block;
  width: 150px;
  object-fit: fill;
  height: 150px;
  border: 8px solid #2c2f3f;
  border-radius: 50%;
}
.hamburger{
  visibility: hidden;
}

.hero{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url("./joseph-sittin.png") top center;
  background-size:contain;
  background-repeat: no-repeat;
  margin-left: -200px;
  background-attachment: fixed;
  display: flex;
}

.hero .right{
  position: absolute;
  left: 78%;
  z-index: 1000;
}

.hero .right img{
  width: 150px;
  height: 150px;
}
.hero .right .linkedin{
  background-color: lightblue;
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
.hero .right .cv{
  background-color: lightblue;
  width: 150px;
  height: 150px;
  margin-top: 50px;
}

.hero .right h4 a b{
  color: #fff;
  font-size: larger;
}

.hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  height: 100vh;
  right: 0;
  z-index: 1;
  margin-left: -100px;
}

/* .hero img{
  width: fit-content;
  height: 100%;
} */

.sidebar-container h1 {
  font-size: 22px;
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
.sidebar-container h1 a, .sidebar-container h1 a:hover {
  color: #fff;
}

.hero .hero-container {
  position: relative;
  z-index: 2;
  top: 30%;
  left: 35%;
  min-width: 300px;
}
.hero h1 {
  margin: 0 0 10px 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
.hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  width: 400px;
}
.hero p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
.section-title p {
  margin-bottom: 0;
}

.portfolio .body{
  width: 100%;
  color: white;
  position: relative;
  margin-left: 400px;
  margin-right: 10px;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.about .content ul strong {
  margin-right: 10px;
}
.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}
.about .content p:last-child {
  margin-bottom: 0;
}

.about-content{
  display: flex;
}
.about-content img{
  width: 500px;
  height: 600px;
  padding-right: 24px;
}


.portfolio .row .filters{
  color: #fff;
  border-radius: 30px;
  background-color: #050d18;
  width: 300px;
  position: relative;
  left: 30%;
  padding: 2px;
  border: 3px solid #37b3ed;
}

.filters ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters ul li{
  cursor: pointer;
}

.filters ul li:hover{
  border-radius: 30px;
  background-color: #0d6efd;
  padding: 3px;
}

.filter-active{
  border-radius: 30px;
  background-color: #0d6efd;
  padding: 3px;
}

.filters ul:last-child{
  margin-right: 50px;
}


.projects{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.projects img{
  width: 250px;
  height: 250px;
}

.project-panel{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #149ddd;
  visibility: hidden;
  overflow: hidden;
  margin: 0px;
}

.project-hp{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 0px;
  background-color: #149ddd;
  visibility: hidden;
  overflow: hidden;
}

.visible{
  visibility: visible;
}

.view{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: #050d18;
  color: white;
  left: 0px;
  top: 0px;
  z-index: 1000000;
}

.view .title h2{
  padding-left:30%;
  padding-right: 30%;

}

.view p{
  text-align: center;
  cursor: pointer;
}

.view .title p{
  font-size: xx-large;
}


.gallery{
  display: flex;
  width: 700px;
  height: 700px;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
  left: 25%;
  align-items: center;
}

.gal{
  width: 700px;
  height: 700px;
  display: flex;
}

.gallery .gal img{
  width: 700px;
  height: 700px;
  padding-right: 20px;
}

.proj{
  margin-left: 24px;
  width: 250px;
}

.project-panel p:last-child{
  margin-left: 50px;
}
.project-panel p:first-child{
  margin-left: -10px;
  margin-right: 50px;
}

.view .title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


@keyframes panel {
  from{
    transform: translateY(30px);
  }
  to{
    transform: translateY(0px);
  }
}
@keyframes hp {
  from{
    transform: translateY(-30px);
  }
  to{
    transform: translateY(0px);
  }
}

.projects .proj:hover{
  border: 3px solid #18d26e;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  animation: panel 0.1s linear;
}

#proj:hover > #panel{
  visibility: visible;
  animation: panel 0.3s linear;
}
#proj:hover > #hp{
  visibility: visible;
  animation: hp 0.3s linear;
}

.project-panel-animation{
  animation: panel 0.3s linear;
}

.hp{
  animation: hp 0.3s linear;
  margin: 0px;
}

.selected-project{
  border: 3px solid #18d26e;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.project-panel p:hover{
  cursor: pointer;
  text-align: center;
}

.row{
  display: flex;
}
.lang {
  width: 200px;
  margin-left: 310px;
  margin-top: 10px;
  display: flex;
}

.lang select{
  height: 50px;
  background-color: #050d18;
  width: 200px;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
}


.skills{
  padding: 16px;
}

.resume .container{
  display: flex;
  flex-wrap: wrap;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #173b6c;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 10px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}
.resume .resume-div h3,
.resume .resume-div h4,
.resume .resume-div p,
.resume .resume-div div

{
  color: #fff;
}

.contact {
  padding-bottom: 130px;
}

.contact-main{
  display: flex;
}

label{
  color: #040b14;
  padding-right: 20px;
}

.contact-main .my-contact-details{
  margin-right:50px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}
.contact .info .email p {
  padding-top: 5px;
}
.contact .info .social-links {
  padding-left: 60px;
}
.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}
.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form .form-group {
  margin-bottom: 15px;
}
.contact .php-email-form label {
  padding-bottom: 8px;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 15px;
}
.contact .php-email-form button[type=submit] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #37b3ed;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes text-load {
  0% {
    transform: rotate(0deg);
  }
  50%{
    line-height: 2em;
    text-transform: capitalize;
    transform: translateY(-500px);
  }
  100% {
    line-height: 4em;
    text-transform: capitalize;
    transform: translateY(-1000px);
  }
}


.splash {
  color: #fff;
  position: absolute;
  left: 35%;
  top: 40%;
}
.splash h1{
  width: 400px;
}
.splash p{
  position: fixed;
  font-size: 20px;
  cursor: pointer;
}

.text{
  animation: text-load 2s none;
  transform: translateY(-1000px);
}


/*--------------------------------------------------------------
# Breadcrumbs and media queries
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}
.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

@media (max-width: 508px) {
  .side-c{
    left: -300px;
    visibility: hidden;
  }

  .splash{
    left: 10%;
    overflow-x: hidden;
    width: 300px;
  }

  .splash h1{
    max-width: 300px;
  }

  .portfolio .row .filters{
    left:2%;
  }
  .row{
    display: block;
  }
  .lang{
    margin-left: 10px;
  }

  .portfolio .projects{
    display: block;
  }

  .hero{
    height: 90vh;
    background-size: cover;
  }
  .hero:before{
    height: 91vh;
    z-index: 1;
  }
  .hero .hero-container{
    height: 50vh;
    top: 0;
    padding-top: 30px;
  }

  .hero-container h1,
  .hero .hero-container p
  {
    font-size: 16px;
    width: 200px;
    text-align: center;
    position: relative;
    left: 30%;
    top: 30%;
  }

  .hero{
    width: 600px;
  }

  .hero .right{
    display: flex;
    top: 88vh;
    left: 5px;
    align-items: center;
    justify-content: center;
  }
  .hero .right img,
  .hero .right .linkedin,
  .hero .right .cv
  {
    
    width: 30px;
    height: 30px;
    margin: 0;
  }

  .hero .right div{
    display: flex;
    align-items: center;
  }
  .hero .right h4{
    padding-left: 14px;
    font-size: small;
  }

  .about-content{
    display: block;
  }

  .about{
    padding: 7px;
    margin-top: 50px;
  }

  .contact-main{
    display: block;
  }

  .portfolio .body{
    width: 100%;
    color: white;
    position: relative;
    margin-left: -1px;
    padding: 3px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .body .hamburger{
    visibility: visible;
    position: fixed;
    width: 24px;
    height: 24px;
    right: 10px;
    top: 10px;
    background-color: #0d6efd;
    border-radius: 50px;
    padding: 10px;
    z-index: 100;
  }
  .hero .hero-container{
    z-index: 1;
  }
  .view{
    position: fixed;
    
  }
  .gallery{
    display: flex;
    width: 400px;
    height: 50vh;
    overflow: hidden;
    overflow-x: scroll;
    position: relative;
    align-items: center;
    left: 0%;
  }
  .gal{
    width: 400px;
    height: 50vh;
  }
  
  .gal img{
    width: 400px;
    height: 100%;
    object-fit: contain;
  }
  .title h2{
    font-size: large;
  }

  .hamburger .line{
    color:#173b6c;
    width: 20px;
    height: 2px;
    padding-left: 3.5px;
    margin-top: 4.5px;
    background-color:#1f2674;
    margin-bottom: 3px;
    position: relative;
  }
  
  @keyframes lines {
    from{
      transform: rotateZ(0deg) translateY(0px) translateX(0px);
    }
    to{
      transform: rotateZ(45deg) translateY(5px) translateX(4px);
    }
  }
  
  @keyframes liness {
    from{
      transform: rotateZ(0deg) translateY(0px) translateX(0px);
    }
    to{
      transform: rotateZ(-45deg) translateY(-5px) translateX(4px) ;
    }
  }
  .hamburger .lines:nth-child(2){
    visibility: hidden;
  }
  
  .hamburger .lines:first-child{
    animation: lines 1s none;
    transform: rotateZ(45deg) translateY(5px) translateX(4px);
  }
  
  .hamburger .lines:last-child{
    animation: liness 1s none;
    transform: rotateZ(-45deg) translateY(-5px) translateX(4px) ;
  }
  @keyframes lines1 {
    to{
      transform: rotateZ(0deg) translateY(0px) translateX(0px);
    }
    from{
      transform: rotateZ(45deg) translateY(5px) translateX(4px);
    }
  }
  
  @keyframes liness1 {
    to{
      transform: rotateZ(0deg) translateY(0px) translateX(0px);
    }
    from{
      transform: rotateZ(-45deg) translateY(-5px) translateX(4px) ;
    }
  }
  .hamburger .lines1:nth-child(2){
    visibility: visible;
  }
  
  .hamburger .lines1:first-child{
    animation: lines1 1s none;
    transform: rotateZ(0deg) translateY(0px) translateX(0px);
  }
  
  .hamburger .lines1:last-child{
    animation: liness1 1s none;
    transform: rotateZ(0deg) translateY(0px) translateX(0px);
  }
  
}